
header{
  color: #fff;
}

body{
  background-color: #b2b2b2;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

:root{
  --color-1:#283242;
  --color-2:#ffdd40;
  --color-3:#000000;
}

$line-contrast: 500%;
$photo-brightness: 90%;
$photo-contrast: 150%;
$photo-blur: 3px;
$blend-mode: screen;
$point-size: 1px;
$point-color: #333;
$point-spacing: 8px;

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--color-1);
}
::-webkit-scrollbar-button {
  background-color: var(--color-1);
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: var(--color-2);
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.283' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(225, 10%, 8%, 1)'/><path d='M46.189-20L57.736 0M46.189 20l11.547 20m-46.189 0l11.547 20M11.547 0l11.547 20m40.415 30H40.415M28.868 30H5.774m23.094-40H5.774m57.735 20H40.415m0 20L28.868 50m11.547-60L28.868 10m46.188 0L63.509 30M5.774 10L-5.773 30m75.056 10H46.189L34.64 20 46.19 0h23.094C73.13 6.667 76.98 13.333 80.83 20zM57.736 60H34.64L23.094 40l11.547-20h23.095c3.848 6.667 7.698 13.333 11.547 20L57.736 60zm0-40H34.64L23.094 0l11.547-20h23.095L69.283 0c-3.87 6.7-8.118 14.06-11.547 20zM34.64 60H11.547L0 40l11.547-20h23.094L46.19 40 34.64 60zm0-40H11.547L0 0l11.547-20h23.094L46.19 0 34.64 20zM23.094 40H0l-5.773-10-5.774-10L0 0h23.094l11.547 20-11.547 20z'  stroke-width='1' stroke='hsla(225, 5%, 10%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  user-select:none;
  font-family: 'Switzer', sans-serif;
}
h1{
  position: relative;
  font-family: 'Khand', sans-serif;
  font-size: calc(1vw + 1vh + .5vmin);
  text-transform: uppercase;
  padding-bottom:1rem;
  color: #ff2525;
}
.container{
  padding: 3rem 0;
  margin: 0 auto;
  width: 80vw;
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  border-radius:2rem;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
  background:rgba( 255, 255, 255, 0.0 );
}
.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  overflow:hidden;
  mix-blend-mode: $blend-mode;
  filter: grayscale(1) saturate(0) brightness($photo-brightness) contrast($photo-contrast);
  transition: flex 0.4s cubic-bezier(.32,.79,.38,.99), filter 0.5s ease-in;
  &:hover {
    flex: 7;
    filter:grayscale(0) saturate(1.3) blur(0px);
  }
  &:hover .caption {
    opacity:1;
  }
  &:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(circle closest-side, $point-color $point-size, transparent $point-size);
    background-size: $point-spacing $point-spacing;
    filter: contrast($line-contrast);
    transition: opacity .2s ease; 
    opacity:.3;
    pointer-events:none;
  }
  &:hover:before {
    opacity:0;
  }
}
.caption {
  position:fixed;
  left:.5rem;
  right:.5rem;
  bottom:0;  
  margin:1rem;
  padding:1rem;
  color:#ffffff;
  border:solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  box-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.25 );
  backdrop-filter: blur( 4.0px );
  transition: opacity 0.2s ease, backdrop-filter 1s ease;
  /*
  transition-delay:1s;
  */
  opacity:0;
  &:hover {
    backdrop-filter: blur( 0.0px );    
  }
  & p {
    width:100%;
  }
  & h1 {
    color: rgb(255, 255, 255);
  }
}


.item-1 { 
  border-radius:2rem 0rem 0rem 2rem;
  background-image: url('1-Porsche-Taycan-review-2024.webp');
}
.item-2 { 
  background-image: url('michelinche.jpg');
}
.item-3 { 
  background-image: url('macan.avif');
}
.item-4 { 
  background-image: url('https://carwow-uk-wp-3.imgix.net/0080_nevada_targa_u-crane_akos1802_edit_v01.jpg?auto=format&cs=tinysrgb&fit=clip&ixlib=rb-1.1.0&q=10&w=800');
}
.item-5 { 
  border-radius:0rem 2rem 2rem 0rem;
  background-image: url('neshto.jpg');
}


.challenge {
  font-weight: normal;
  padding: 1.5rem;
  margin-top:2rem;
  backdrop-filter: blur( .0px );
  /*
  background:#1e1f26;
  background: rgba(37,33,64,0.1);
  */
  border:solid;
  border-image: linear-gradient(to bottom, rgb(255, 39, 39) 0%, rgba(255,221,64,0) 100%);
  padding: 9px;
  color:#fa4545;

  & a:hover {
    color:#47cf73;
    text-decoration:underline;
  }
}
.challenge span{
  display:flex;
  align-content:center;
  position:relative;
}


a{
  color: #fff;
  text-decoration: none;
}

h1{
  font-size: 30px;
}

div.sticky {
  position: sticky;
  width: 100%;
  bottom: 10px;
  border: 3px solid #c00707;

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  
} 

 .fa {
      padding: 10px;
      font-size: 30px;
      width: 45px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 10%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    
    .fa-youtube {
      background: #bb0000;
      color: white;
    }
    
    .fa-instagram {
      background: #125688;
      color: white;
    }
    
    .fa-pinterest {
      background: #cb2027;
      color: white;
    }